{{define "body"}}
{{$vd := .ViewData}}

<div>
	<article>
		<h3>{{$vd.Title}}</h1>
			<section>
				<table style="font-size: 1.3em;">
					<tr>
						<th>Number</th>
						<td>{{$vd.Number}}</td>
					</tr>
					<tr>
						<th>Title</th>
						<td>{{$vd.Title}}</td>
					</tr>
					<tr>
						<th>State</th>
						<td>{{$vd.State}}</td>
					</tr>
					<tr>
						<th>User</th>
						<td><a href="{{$vd.User.HTMLURL}}" target="_blank"
								title="{{.User.Login}} GitHub profile page">{{$vd.User.Login}}</a>
						</td>
					</tr>
					<tr>
						<th>CreatedAt</th>
						<td>{{$vd.CreatedAt}}</td>
					</tr>
				</table>
				<hr />
				<h4>Content</h4>
				<p style="font-size: 1em;">{{$vd.Body}}</p>
			</section>
	</article>
</div>
{{end}}