/* html,
body {
	width: 100vw;
	min-height: 100vh;
}

body {
	position: relative;
	padding-bottom: 60px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
	padding: 60px 15px 0;
} 
