{{define "body"}}
<div>
	<h3>Welcome {{.UserName}}</h3>

	<article class="container">
		<section class="jumbotron">
			<h4>Find User</h4>
			<form method="GET" action="/users">
				<label>User Name: <input name="user-name" /></label>
				<input type="submit" value="Submit" />
			</form>
		</section>
		<section class="jumbotron">
			<h4>Find issues</h4>
			<form method="GET" action="/issues">
				<label>Search phrase<textarea name="keywords" cols="30" rows="3"
						placeholder="open vscode-go"></textarea>
				</label>
				<div>
					<p>Or by user/repo</p>
				</div>
				<label>Username
					<input name="username" placeholder="unnamedxaer">
				</label>
				<label>Repository name
					<input name="reponame" placeholder="lang-words">
				</label>
				<br />
				<input type="submit" value="Submit" />
			</form>
		</section>
		<section class="jumbotron">
			<h4>Print bugs</h4>
			<form method="GET" action="/bugs">
				<label>Search keywords <textarea name="keywords" cols="30" rows="3"></textarea></label>
				<input type="submit" value="Submit" />
			</form>
		</section>
	</article>
</div>
{{end}}