{{define "body"}}
{{$vd := .ViewData}}
<div>
	<h3>Issues {{$vd.TotalCount}}</h3>
	<p>Fetched at: {{$vd.FetchedAt}}</p>
	{{if $vd.UserName}}
	<section>
		<table>
			<tr>
				<th>Username</th>
				<td>{{$vd.UserName}}</td>
			</tr>
			<tr>
				<th>Repository</th>
				<td>{{$vd.RepoName}}</td>
			</tr>
		</table>
	</section>
	{{end}}
	<section class="jumbotron">
		{{if $vd.Items}}
		<ul>
			{{range $vd.Items}}
			<li>
				<article>
					<details>
						<summary style="font-size: 1.3em;"><a href="/issue?id={{.NodeID}}"
								title="{{.Title}}">{{.Title}}</a></summary>
						<section>
							<table style="font-size: 1.3em;">
								<tr>
									<th>Number</th>
									<td>{{.Number}}</td>
								</tr>
								<tr>
									<th>Title</th>
									<td>{{.Title}}</td>
								</tr>
								<tr>
									<th>State</th>
									<td>{{.State}}</td>
								</tr>
								<tr>
									<th>User</th>
									<td><a href="{{.User.HTMLURL}}" target="_blank"
											title="{{.User.Login}} GitHub profile page">{{.User.Login}}</a>
									</td>
								</tr>
								<tr>
									<th>CreatedAt</th>
									<td>{{.CreatedAt}}</td>
								</tr>
							</table>
							<hr />
							<h5>Content</h5>
							<p style="font-size: 1em;">{{.Body}}</p>
						</section>
					</details>
				</article>
			</li>
			{{end}}
		</ul>
		{{else}}
		<p class="alert alert-warning">No Issues!</p>
		{{end}}

	</section>
</div>
{{end}}